h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 600; }

html,
body,
ul,
li,
button,
input,
textarea,
h1 {
  margin: 0;
  padding: 0; }

.header {
  position: relative;
  height: 700px;
  padding: 24px 120px 48px;
  display: grid;
  grid-template-rows: 76px auto 32px;
  grid-template-columns: 1fr 1fr 1fr;
  background: url(../images/header.jpg) no-repeat center;
  background-size: cover;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #fff; }
  .header__phone {
    justify-self: start;
    -ms-flex-item-align: center;
        align-self: center;
    letter-spacing: 2px; }
  .header__logo {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 115px;
    height: 76px; }
  .header__top {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .header__action {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: end;
    position: relative; }
  .header__link {
    padding-bottom: 8px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
    -webkit-transition-duration: 0.35s;
            transition-duration: 0.35s; }
    .header__link:hover {
      color: #9fadc2;
      border-color: #9fadc2; }
  .header__title {
    grid-column: 1 / -1;
    position: relative;
    align-self: end;
    margin-bottom: 85px;
    color: #fff;
    font-size: 60px;
    letter-spacing: -1.5px;
    line-height: 60px;
    font-weight: 600; }
    .header__title::before {
      content: "";
      position: absolute;
      top: -16px;
      width: 35px;
      height: 2px;
      background-color: #fff; }
  .header__nav {
    grid-column: 1 / -1; }
  @media screen and (max-width: 870px) {
    .header {
      height: 568px;
      grid-template-rows: 48px auto;
      padding: 24px 24px 80px; }
      .header__title {
        margin-bottom: 0;
        font-size: 48px;
        letter-spacing: -1px; }
      .header__top {
        grid-column: 1 / -2; }
      .header__phone {
        height: 18px;
        width: 18px; }
        .header__phone-num {
          display: none; }
        .header__phone::before {
          position: absolute;
          content: "";
          height: 18px;
          width: 18px;
          background: url(../images/phone.png) no-repeat center;
          background-size: cover;
          cursor: pointer; }
      .header__logo {
        width: 73px;
        height: 48px; }
      .header__action {
        display: none; }
      .header__nav {
        grid-row: 1 / 2;
        grid-column: -2 / -1; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 32px; }

.nav__link {
  padding: 8px 24px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.35s;
  transition: color 0.35s; }
  .nav__link:hover {
    color: #9fadc2; }

.nav__item_active .nav__link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px; }

@media screen and (max-width: 1024px) {
  .nav__link {
    padding: 8px 12px; } }

@media screen and (max-width: 870px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%; }
  .nav__item {
    margin-bottom: 32px; }
  .nav__item:last-child {
    margin-bottom: 0; }
  .nav__link {
    padding: 0;
    font-size: 22px;
    line-height: 22px; }
  .nav__item_active .nav__link {
    background-color: transparent; }
  .nav__item_active:hover .nav__link {
    color: #9fadc2; } }

.logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: cover; }

.menu__btn, .menu__logo, .menu__footer {
  display: none; }

.menu__logo {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 73px;
  height: 48px; }

.menu__btn {
  position: relative;
  padding: 8px 0;
  width: 18px;
  height: 2px;
  outline: none;
  cursor: pointer;
  z-index: 1; }

.menu__span::before {
  content: "";
  top: -5px; }

.menu__span::after {
  content: "";
  bottom: -5px; }

.menu__span, .menu__span::before, .menu__span::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: 0.35s;
  transition: 0.35s; }
  .menu__span:hover, .menu__span::before:hover, .menu__span::after:hover {
    background-color: #9fadc2; }

.menu__toggle {
  opacity: 0;
  position: absolute;
  top: -100%; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .menu__list {
    visibility: visible;
    top: 0; }

.menu__action {
  margin-top: 16px; }

.menu__phone, .menu__link {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px; }

.menu__link {
  padding-bottom: 8px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s; }
  .menu__link:hover {
    color: #9fadc2;
    border-color: #9fadc2; }

@media screen and (max-width: 870px) {
  .menu {
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center; }
    .menu__list {
      display: grid;
      grid-template-rows: 48px 1fr auto;
      row-gap: 48px;
      position: absolute;
      visibility: hidden;
      padding: 24px 21px 54px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      top: -100%;
      width: 100%;
      height: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      background-color: #0075ff;
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      -webkit-transition-duration: 0.6s;
              transition-duration: 0.6s; }
    .menu__btn, .menu__logo, .menu__footer {
      display: block; } }

.logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: cover; }

html {
  font-family: "Roboto", sans-serif; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
