h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 600; }

html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.header {
  position: relative;
  height: 700px;
  padding: 24px 120px 48px;
  background: url(../images/header.jpg) no-repeat center;
  background-size: cover;
  font-weight: 600;
  color: #fff; }
  .header__container {
    display: grid;
    grid-template-rows: 76px auto 32px;
    grid-template-columns: 1fr 1fr 1fr; }
  .header__phone {
    justify-self: start;
    -ms-flex-item-align: center;
        align-self: center; }
  .header__phone-num, .header__link {
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.35s;
            transition-duration: 0.35s;
    border-bottom: 1px solid transparent; }
    .header__phone-num:hover, .header__link:hover {
      border-bottom: 1px solid #fff; }
  .header__logo {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 115px;
    height: 76px; }
  .header__top {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .header__action {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: end;
    position: relative; }
  .header__title {
    grid-column: 1 / -1;
    position: relative;
    align-self: end;
    margin-bottom: 85px;
    color: #fff;
    font-size: 60px;
    letter-spacing: -1.5px;
    line-height: 60px;
    font-weight: 600; }
    .header__title::before {
      content: "";
      position: absolute;
      top: -16px;
      width: 35px;
      height: 2px;
      background-color: #fff; }
  .header__nav {
    grid-column: 1 / -1; }
  @media screen and (max-width: 870px) {
    .header {
      height: 568px;
      grid-template-rows: 48px auto;
      padding: 24px 24px 80px; }
      .header__title {
        margin-bottom: 0;
        font-size: 48px;
        letter-spacing: -1px; }
      .header__top {
        grid-column: 1 / -2; }
      .header__phone {
        height: 18px;
        width: 18px; }
        .header__phone-num {
          display: none; }
        .header__phone::before {
          position: absolute;
          content: "";
          height: 18px;
          width: 18px;
          background: url(../images/phone.png) no-repeat center;
          background-size: cover;
          cursor: pointer; }
      .header__logo {
        width: 73px;
        height: 48px; }
      .header__action {
        display: none; }
      .header__nav {
        grid-row: 1 / 2;
        grid-column: -2 / -1; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 32px; }

.nav__link {
  padding: 8px 24px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.35s;
  transition: color 0.35s; }
  .nav__link:hover {
    color: #9fadc2; }

.nav__item_active .nav__link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px; }

@media screen and (max-width: 1024px) {
  .nav__link {
    padding: 8px 12px; } }

@media screen and (max-width: 870px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%; }
  .nav__item {
    margin-bottom: 32px; }
  .nav__item:last-child {
    margin-bottom: 0; }
  .nav__link {
    padding: 0;
    font-size: 22px;
    line-height: 22px; }
  .nav__item_active .nav__link {
    background-color: transparent; }
  .nav__item_active:hover .nav__link {
    color: #9fadc2; } }

.logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: cover; }

.menu__btn, .menu__logo, .menu__footer {
  display: none; }

.menu__logo {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 73px;
  height: 48px; }

.menu__btn {
  position: relative;
  padding: 8px 0;
  width: 18px;
  height: 2px;
  outline: none;
  cursor: pointer;
  z-index: 1; }

.menu__span::before {
  content: "";
  top: -5px; }

.menu__span::after {
  content: "";
  bottom: -5px; }

.menu__span, .menu__span::before, .menu__span::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: 0.35s;
  transition: 0.35s; }
  .menu__span:hover, .menu__span::before:hover, .menu__span::after:hover {
    background-color: #9fadc2; }

.menu__toggle {
  opacity: 0;
  position: absolute;
  top: -100%; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .menu__list {
    visibility: visible;
    top: 0; }

.menu__action {
  margin-top: 16px; }

.menu__phone, .menu__link {
  padding-bottom: 8px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s; }

.menu__phone:hover {
  color: #9fadc2; }

.menu__link {
  border-bottom: 1px solid #fff; }
  .menu__link:hover {
    color: #9fadc2;
    border-color: #9fadc2; }

@media screen and (max-width: 870px) {
  .menu {
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center; }
    .menu__list {
      display: grid;
      grid-template-rows: 48px auto auto;
      grid-row-gap: 48px;
      position: absolute;
      visibility: hidden;
      padding: 24px 21px 54px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      top: -100%;
      width: 100%;
      height: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      background-color: #0075ff;
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      -webkit-transition-duration: 0.6s;
              transition-duration: 0.6s; }
    .menu__btn, .menu__logo, .menu__footer {
      display: block; } }

.logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: cover; }

.button {
  display: block;
  height: 56px;
  width: 100%;
  margin: 0 auto;
  padding: 21px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #0075ff;
  background-color: #fff;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s; }
  .button:hover {
    background-color: #0067df;
    border-color: #0067df;
    color: #fff;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .button--prime {
    background-color: #0075ff;
    color: #fff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px; }
  .desc__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff; }
  .desc__second-title {
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #9fadc2; }
  .desc__paragraph {
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #3e3e3e; }
    .desc__paragraph--several {
      margin-bottom: 24px; }
  .desc__credo {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #3e3e3e; }
  .desc--wide {
    grid-column-gap: 188px; }
  @media screen and (max-width: 870px) {
    .desc {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      grid-row-gap: 48px; }
      .desc--wide {
        grid-row-gap: 32px; } }

.button {
  display: block;
  height: 56px;
  width: 100%;
  margin: 0 auto;
  padding: 21px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #0075ff;
  background-color: #fff;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s; }
  .button:hover {
    background-color: #0067df;
    border-color: #0067df;
    color: #fff;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .button--prime {
    background-color: #0075ff;
    color: #fff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.gallery__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto auto);
  grid-column-gap: 20px; }

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 256px;
  width: 100%;
  border-radius: 8px; }
  .gallery__img--first {
    grid-column: 1 / 4; }
  .gallery__img--second {
    grid-column: 4 / -1; }
  .gallery__img--first-large {
    grid-column: 1 / 5; }
  .gallery__img--second-small {
    grid-column: 5 / -1; }
  .gallery__img--first-small {
    grid-column: 1 / 3; }
  .gallery__img--second-large {
    grid-column: 3 / -1; }

.gallery__desc {
  margin: 24px 0 40px;
  grid-column: 1 / -1;
  font-size: 16px;
  line-height: 27px; }

.gallery__link {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent; }

.gallery__adress {
  font-weight: 400;
  color: #3e3e3e; }

.gallery__button {
  width: 188px; }

@media screen and (max-width: 870px) {
  .gallery__img {
    height: 131px; }
    .gallery__img--first, .gallery__img--first-large, .gallery__img--first-small {
      grid-column: 1 / 4; }
    .gallery__img--second, .gallery__img--second-large, .gallery__img--second-small {
      grid-column: 4 / -1; }
  .gallery__desc {
    margin: 16px 0 32px; }
  .gallery__button {
    width: 100%;
    max-width: 320px; } }

.form {
  width: 100%;
  max-width: 500px;
  justify-self: end;
  align-self: start;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 16px; }
  .form__input {
    height: 48px;
    padding: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    background-color: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px; }
    .form__input--message {
      height: 144px;
      resize: none; }
    .form__input:focus {
      -webkit-box-shadow: 0 0 2px 1px #0075ff;
              box-shadow: 0 0 2px 1px #0075ff; }
    .form__input::-webkit-input-placeholder {
      color: #b9c1ce; }
    .form__input::-moz-placeholder {
      color: #b9c1ce; }
    .form__input:-ms-input-placeholder {
      color: #b9c1ce; }
    .form__input::-ms-input-placeholder {
      color: #b9c1ce; }
    .form__input::placeholder {
      color: #b9c1ce; }
  .form__button {
    margin-top: 16px; }
  @media screen and (max-width: 870px) {
    .form {
      justify-self: start; } }

.testimonials__row {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 870px) {
  .testimonials__row {
    grid-template-columns: 280px;
    grid-template-rows: repeat(3, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 48px; } }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user__img {
    width: 153px;
    height: 153px;
    margin-bottom: 28px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%; }
  .user__name {
    margin-bottom: 4px; }
  .user__pro {
    margin-bottom: 13px; }
  .user__desc {
    text-align: center; }

.adress {
  display: grid;
  grid-template-columns: 152px 152px;
  grid-template-rows: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 24px; }
  .adress__map {
    grid-column: 2 / -1;
    grid-row: 1 / -1; }
  .adress__title {
    margin-bottom: 8px; }
  .adress__link {
    border-bottom: 1px solid transparent; }
    .adress__link:hover {
      color: #0067df;
      border-color: #0067df; }
  @media screen and (max-width: 870px) {
    .adress {
      grid-template-columns: 174px; }
      .adress__map {
        grid-column: 1;
        grid-row: 3 / -1; } }

.footer {
  position: relative;
  height: 359px;
  background: url(../images/footer.png) no-repeat center;
  background-size: cover; }
  .footer__logo {
    position: absolute;
    width: 115px;
    height: 76px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 40px; }
  @media screen and (max-width: 870px) {
    .footer {
      height: 206px; }
      .footer__logo {
        width: 77px;
        height: 50px;
        bottom: 24px; } }

html {
  font-family: "Roboto", sans-serif;
  font-weight: 600; }

body {
  background: #fff; }

.main {
  padding: 0 120px 88px; }
  .main__container {
    margin-top: 128px;
    padding-top: 24px; }
    .main__container--closer {
      margin-top: 80px; }
  .main__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    font-weight: 600;
    color: #000; }
    .main__title--center {
      position: relative;
      text-align: center;
      margin-bottom: 93px; }
      .main__title--center--closer {
        margin-bottom: 61px; }
      .main__title--center::after {
        position: absolute;
        content: "";
        bottom: -34px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        width: 24px;
        height: 16px;
        background: url(../images/logo_upside.png) no-repeat center;
        background-size: cover; }
  .main__link {
    color: #0075ff;
    -webkit-transition: 0.35s;
    transition: 0.35s; }
    .main__link:hover {
      color: #0067df;
      border-color: #0067df; }
  .main__title-link {
    border-bottom: 2px solid transparent; }
  @media screen and (max-width: 870px) {
    .main {
      padding: 0 20px 64px; }
      .main__container {
        margin-top: 40px; }
      .main__title {
        font-size: 36px;
        line-height: 36px; }
        .main__title--center {
          margin-bottom: 53px; } }

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
